Lab3 Ebay/EbayApp/WebContent/wsdl/userProfile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebay" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebay" xmlns:intf="http://ebay" xmlns:tns1="http://sql.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebay" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://sql.java"/>
   <element name="getUserAccountDetails">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserAccountDetailsResponse">
    <complexType>
     <sequence>
      <element name="getUserAccountDetailsReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserAccountDetailsRequest">

      <wsdl:part element="impl:getUserAccountDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserAccountDetailsResponse">

      <wsdl:part element="impl:getUserAccountDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="userProfile">

      <wsdl:operation name="getUserAccountDetails">

         <wsdl:input message="impl:getUserAccountDetailsRequest" name="getUserAccountDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserAccountDetailsResponse" name="getUserAccountDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="userProfileSoapBinding" type="impl:userProfile">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserAccountDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserAccountDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserAccountDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="userProfileService">

      <wsdl:port binding="impl:userProfileSoapBinding" name="userProfile">

         <wsdlsoap:address location="http://localhost:8080/EbayApp/services/userProfile"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
